* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aliceblue;
}

h3 {
    font-size: 50px;
    color: rgb(21, 182, 128);
    }
.amber {
    color: blue;
}
.sapphire {
    color: rgb(128, 56, 56);
}